# Miscellaneous / OS
*.class
*.log
*.pyc
*.swp
.DS_Store
Thumbs.db
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IDE & Editor files
*.iml
*.ipr
*.iws
.idea/
.vscode/

# Flutter / Dart / Pub build artifacts
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/coverage/

# Symbolication & Obfuscation
app.*.symbols
app.*.map.json

# Android build & local configuration
/android/.gradle/
/android/local.properties
/android/key.properties
/android/app/debug/
/android/app/profile/
/android/app/release/
*.keystore
*.jks

# Firebase & Secret Configuration Files
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*.env
.env

# Native / Desktop Build Artifacts
/windows/flutter/ephemeral/
/linux/flutter/ephemeral/
/macos/Flutter/ephemeral/
